{% extends 'learning_platform_app/base.html' %}

{% block content %}
<div class="span" style="height: 100vh;">
<section class="py-5">
    <div class="container">
        <h1 class="text-center mb-4">About Us</h1>
        <p class="lead text-center">
            Welcome to the Learning Platform, the most affordable and best online learning platform in Nigeria. 
            We are dedicated to providing high-quality courses that empower individuals to achieve their goals 
            and enhance their skills at unbeatable prices.
        </p>
        <p class="text-center">
            Our platform offers a wide range of courses tailored to meet the needs of learners from all walks of life. 
            Whether you're looking to advance your career, learn a new skill, or explore a passion, 
            we are here to support you every step of the way.
        </p>
    </div>
</section>
</div>
{% endblock %}