{% extends 'learning_platform_app/base.html' %}
{% block content %}
<!-- Hero Section -->
<header class="bg-primary text-white text-center py-5">
    <div class="container">
        <h1>Welcome to the Learning Platform</h1>
        <p class="lead">Explore a variety of courses and enhance your skills</p>
        <a href="#" class="btn btn-light btn-lg">Get Started</a>
    </div>
</header>

<!-- Courses Section -->
<section class="py-5">
    <div class="container">
        <h2 class="text-center mb-4">Our Courses</h2>
        <div class="row">
            <!-- Course Card 1 -->
            {% for course in courses %}
            <div class="col-md-4">
                <div class="card">
                    <img src="{{ course.image }}" class="card-img-top" alt="Course Image">
                    <div class="card-body">
                        <h5 class="card-title">{{ course.title }}</h5>
                        <p class="card-text">{{ course.description }}</p>
                        <p class="card-text"><strong>Price:</strong> ₦{{ course.price }}</p>
                        <a href="course/{{ course.id }}" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</section>
{% endblock %}